* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    background:  cornsilk;

}




.main-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 5px;
    
}

.menu{
    background: rgba(1, 1, 1, 0.4);
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 2;
    border-bottom: 1px solid rgba(1, 1, 1, 0.3);
}

.menu-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
    float: right;
}



h1 {
    font-size: 45px;
    color: aliceblue;
}


.menu h1 a {
    color: inherit;
    text-decoration: none;
}

.menu ul {
    list-style: none;
    display: flex;
}

.menu ul li a {
    display: block;
    padding: 20px;
    font-size: 18px;
    color: white;
    position: relative;
    text-decoration: none;    
}



.menu ul li a::after{
    content: '';
    position: absolute;
    bottom: 1rem;
    left: 50%;
    width: 0;
    height: 0.2rem;
    background: wheat;
    transition: all 300ms ease-in-out ;

}

.menu ul li a:hover:after {
    width: 50%;
    left: 25%;
}

.logo-img {
    display: flex;
    max-width: 70px;
    max-height: 70px;
    border-radius: 50%;
    border: 2px solid black;
}

.logo-h1 {
    align-items: center;
    padding: 1px;
    margin-left: 15px;
}

.section {
    min-height: 100vh;
    border: 1px solid black;
 
}

/*     Section Home        */

.home-section h1 {
    padding: 15px 10px 0 0;
}

.home-section p {
    color: white;
    padding: 15px 10px 0 0;
}

.home-section {
    background: 	#181818;
  

}

/* #b38f00 */

.div-section .games-h1 {
    padding: 73px 20px 30px 64px;
    display: flex;
    color: #d7ac00;
}

.games-h1 p {
    font-size: 12px;
    align-self: center;
    color: #d7ac00; 
}

.div-pubg h1 {
    color:#d7ac00;
    background: rgba(18, 18, 18, 0.5);

  
}

.div-standof h1 {
    color: #66a3ff;
    background: rgba(18, 18, 18, 0.5);
}

.div-standof p, .div-pubg p {
    border-top: 20px;
    max-width: 350px;
    background: rgba(18, 18, 18, 0.5);
    border-radius: 1%;
}



.shadow {
    min-width: 100%;
    background: rgba(1, 1, 1, 0.4);
    display: flex;
}

.div-pubg {
    display: flex;
    min-width: 100%;
    height: 300px;
    background: url("../img/pubg.png");
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
    
    

}
.div-standof {
    display: flex;
    min-width: 100%;
    height: 300px;
    background: url("../img/standof2.jpeg");
    background-size: cover;
    background-position: top;

}
   

.a-standof {
    display: flex;
    max-width: 50%;
    min-width: 50%;
    border-radius: 1%;
    padding: 20px 20px 60px 10px;
}

/* Section história */

.section-historia{
    background: url("../img/a_background.jpg");
    background-size: 110%;
    background-position: left;
    background-size: cover;
}

.div-historia {
    background: url("../img/a_background.jpg");
    background-size: 110%;
    background-position: left;
    background-size: cover;
    
}

.div-section {
    max-width: 1200px;
    min-height: 100vh;
    margin: 0 auto;

}

.space {
    width: 100%;
    height: 72px;
}

.div-historia-container {
    display: flex;
    flex-flow: column;
    padding: 10px;
    color: white;
    float: left;
    max-width: 100%;
    height: 100vh;
    background: rgba(1, 1, 1, 0.5);

}

.div-historia-container h1 {
    margin: 70px 0 25px 35px;
    max-width: 40%;
    height: auto;
}

.div-historia-container p {
    margin: 15px 0 5px 15px;
    max-width: 40%;
    height: auto;
}
/*<img class="intro-img" src="assets/img/a_background.jpg">*/

/* Seção membros e contatos */

.section-recrut {
    min-height: 100vh;
    min-height: 150vh;
    background: #113140;
    border: 1px solid #113140;
    
}

.div-section-white {
    max-width: 1200px;
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-flow: column;
    background: #113140f9;
    
}

.div-paragrafo-1 h1 {
    display: flex;
    color: black;
    float: right;
    margin: 72px 20px 15px 15px;
    min-width: 250px;
    max-height: 100px;
    max-width: 50%;

}

.div-paragrafo-1 p {
    display: flex;
    color: black;
    font-size: 25px;
    margin: 20px 20px 5px 15px;
    max-width: 50%; 
}

.div-img {
    display: flex;
    flex-flow: row;
    max-height: 50%;
}

.h1-tarky{
    align-self: center;
    display: flex;
    color: black;
    float: right;
    margin: 72px 20px 15px 15px;
    min-width: 250px;
    max-height: 100px;
    max-width: 50%; 
}

.p-tarky{
    align-self: center;
    display: flex;
    color: black;
    font-size: 25px;
    margin: 20px 20px 5px 15px;
    max-width: 50%;
}

.div-img-text {
    flex-flow: column;
    display: flex;
    max-width: 50%;
    min-width: 50%;
    max-height: 50%;
    min-height: 50%;
}

.div-section-white .img-ws{
    margin: 72px 20px 15px 0px;
    border-radius: 50%;
    display: flex;
    max-width: 30%;
    max-height: 1%;
}
.a-img-tarky {
    margin: 72px 20px 15px 0px;
    max-width: 100%;
    max-height: 100%;
    min-height: auto;
}
.div-section-white a img {
    
    border-radius: 50%;
    display: flex;
    max-width: 100%;
    max-height: 100%;

}

.div-paragrafo-1 {
    display: flex;
    flex-flow: column;
    align-items: top;
    justify-content: left;
    
}

.contact {
    display: flex;
    max-width: 47%;
    min-height: 100%;
    align-items: center;
    justify-content: center;
}

.icon-contact {
    margin: 5px 5px 5px 0px;
    max-width: 50px;
    background: white;
    border-radius: 20%;
    list-style-type: none;


}

.ul-contact {
    display: flex;
    flex-flow: wrap;
    min-width: 50%;
    align-items: center;
    justify-content: space-between; 

}



/* rodapé */

.footer {
    background: rgba(1, 1, 1, 0.5);
    width: 100%;
    height: 50px;
}